@import "tailwindcss";

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/font/inconsolata-webfont.woff2") format("woff2"),
    url("./assets/font/inconsolata-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --Neutral-0: hsl(0, 0%, 100%);
  --Neutral-300: hsl(252, 6%, 83%);
  --Neutral-500: hsl(245, 15%, 58%);
  --Neutral-700: hsl(245, 19%, 35%);
  --input-bg: hsl(245, 19%, 35%, 0.25);
  --hover-bg: hsl(245, 19%, 35%, 0.5);
  --Neutral-900: hsl(248, 70%, 10%);
  --Orange-500: hsl(7, 88%, 67%);
  --Orange-700: hsl(7, 71%, 60%);
  --hoverBtn: hsl(7, 59%, 63%);
  --Gradient-text-first: hsl(7, 86%, 67%);
  --Gradient-text-second: hsl(0, 0%, 100%);
  --font-size: 20px;
}

body {
  font-family: "Inconsolata", var(--system-ui);
}

.bg-wallpaper {
  background-image: url("./assets/images/pattern-lines.svg"),
    url("./assets/images/pattern-circle.svg"),
    url("./assets/images/pattern-squiggly-line-top.svg"),
    url("./assets/images/pattern-squiggly-line-bottom-desktop.svg"),
    url("./assets/images/background-desktop.png");
  background-repeat: no-repeat;
  background-position: top, center right 550px, top right, bottom left;
}

.centerComponent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullNameGradient {
  background-image: linear-gradient(
    to right,
    var(--Gradient-text-first),
    var(--Gradient-text-second)
  );
  color: transparent;
  background-clip: text;
}

.customFileInput {
  color: transparent;
}

.customFileInput::-webkit-file-upload-button {
  visibility: hidden;
}

.customFileInput::before {
  content: " ";
  background: no-repeat url("./assets/images/icon-upload.svg");
  background-position: center;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 115px;
  border-radius: 10px;
  border: 1px solid var(--Neutral-700);
  background-color: var(--Neutral-700);
  margin-bottom: 20px;
}

.inputElement {
  border: 1px solid var(--Neutral-700);
  background-color: var(--input-bg);
  border-radius: 10px;
  width: 100%;
  padding: 5px 10px;
  height: 50px;
}

.inputElement:hover {
  background-color: var(--hover-bg);
}

.ticketBg {
  background: no-repeat center url("./assets/images/pattern-ticket.svg");
  height: 50vh;
}
